.eachMovie-container {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-thumbnail {
  height: 180px;
  width: 240px;
  margin: 0px;
}
.model-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trigger-button {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
.player-wrapper {
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
