.app-container {
  height: 200vh;
  width: 100vw;
  background-color: #000000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-container {
  height: 20vh;
  width: 100vw;
}
.app-banner-img {
  height: 300px;
  width: 100vw;
}
.action-movies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  margin-bottom: 10px;
}
.movies-section-heading {
  font-size: 20px;
  color: white;
  align-self: flex-start;
  margin: 0px;
}
